/* scripts/scrollerOverlay/scrollerOverlay.css */
#scrollerOverlayContainer {
  position: fixed;
  height: 400px;
  width: 700px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
  border: #111 solid 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transform: height 0.5s, width 0.5s;
  z-index: 9999;
}

#scrollerOverlayContainer.night-mode {
  background: #111;
  color: #fff;
}

.bumper {
  position: absolute;
  cursor: grab;
  border-radius: 10px;
}


.bumper:hover {
  background: #333;
}

#scrollerOverlayContainer.night-mode .bumper:hover {
  background: #aaa;
}

.bumper.top {
  height: 20px;
  left: 30%;
  right: 30%;
  top: 0px;
}

.bumper.top:hover {
  box-shadow: -5px 3px 10px rgba(238, 238, 238, 1), 5px 3px 10px rgba(238, 238, 238, 1);
}

#scrollerOverlayContainer.night-mode .bumper.top:hover {
  box-shadow: -5px 5px 10px rgba(17, 17, 17, 1), 5px 5px 10px rgba(17, 17, 17, 1);
}

.bumper.bottom {
  height: 20px;
  left: 30%;
  right: 30%;
  bottom: 0px;
}

.bumper.bottom:hover {
  box-shadow: -5px -3px 10px rgba(238, 238, 238, 1), 5px -3px 10px rgba(238, 238, 238, 1);
}

#scrollerOverlayContainer.night-mode .bumper.bottom:hover {
  box-shadow: 5px -5px 10px rgba(17, 17, 17, 1), -5px -5px 10px rgba(17, 17, 17, 1);
}

.bumper.left {
  width: 20px;
  top: 30%;
  bottom: 30%;
  left: 0px;
} 

.bumper.right {
  width: 20px;
  top: 25%;
  bottom: 25%;
  right: 0px;
}

.corner {
  position: absolute;
  cursor: grab;
  border-radius: 10px;
}

.corner:hover {
  background: #666;
}

#scrollerOverlayContainer.night-mode .corner:hover {
  background: #ccc;
}

.corner.top-left {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  cursor: nw-resize;
}

.corner.top-right {
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  cursor: ne-resize;
}

.corner.bottom-left {
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}

.corner.bottom-right {
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.control-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3px; 
  height: 20px; 
  background: rgb(51, 51, 51, 0.05); 
  border-radius: 10px; 
  color: #eee; 
  font-size: 18px; 
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#scrollerOverlayContainer.night-mode .control-button {
  background: rgb(238, 238, 238, 0.05); 
  color: #111;
}

#closeButton {
  width: 40px;
  right: 30px;
}

#closeButton:hover {
  background: rgba(157, 32, 32, 0.7); 
}

#scrollerOverlayContainer.night-mode #closeButton:hover {
  background: rgba(158, 64, 64, 0.8); 
}

#minimizeButton {
  width: 20px;
  right: 72px;
}

#minimizeButton:hover {
  background: rgba(34, 151, 167, 0.7); 
}

#scrollerOverlayContainer.night-mode #minimizeButton:hover {
  background: rgba(34, 151, 167, 0.7); 
}

#maximizeButton {
  width: 20px;
  right: 94px;
}

#maximizeButton:hover {
  background: rgba(18, 165, 118, 0.7); 
}

#scrollerOverlayContainer.night-mode #maximizeButton:hover {
  background: rgba(18, 165, 118, 0.7); 
}

.text-wrapper {
  /* height & width are defined and manipulated by TextScroller.js */
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 2%,  black 25%, black 75%, transparent 98%);
  border: #000 solid 2px;
}

.text-wrapper.night-mode {
  border-color: #fff;
}

#text {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  cursor: pointer;
  padding: 0; 
  font-family: "Noto Serif TC", serif;
  /* font-size is defined and manpulated by TextScroller.js   */
}

#text.night-mode {
  font-weight: bold;
}

.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0px 10px;
  width: 90%;
  overflow-x: auto;
}

.button-panel textarea {
  width: 0px;
  height: 50px;
  margin: 0;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  transition: width 0.3s;
}

.button-panel textarea.visible {
  width: 75px;
  padding: 5px 0px 0px 5px;
  margin: 2.5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: width 0.2s;
}

#scrollerOverlayContainer.night-mode textarea{
  background-color: #222;
  color: #bbb;
}

.button-panel::-webkit-scrollbar {
  width: 0px;
}

.button-panel textarea::-webkit-scrollbar {
  width: 0px;
}

.button-panel button {
  position: relative;
  margin: 2.5px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: #111;
  border: none;
  border-radius: 4px;
  touch-action: manipulation;
  cursor: pointer;
}

#scrollerOverlayContainer.night-mode button {
  border: #eee 2px solid;
}

.button-panel button:hover {
  background-color: #666;
  box-shadow: 0 0px 8.5px #111;
  border: #eee 2px solid;
}

.button-panel button:hover.night-mode {
  /* currently for nightMode */
  box-shadow: 0 0px 8.5px #eee; 
  background-color: #444;
}

.button-panel img {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}

.nested-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;

  padding: 0px 10px 0px 5px;
  
  overflow-x: auto;
  overflow-y: hidden;
  
  height: 75px;

  width: fit-content;
  max-width: (90% - 100px);
  mask-image: linear-gradient(to right, transparent 1%, black 5%, black 95%, transparent 98%);
  transition: width 0.5s;
}

.nested-buttons.visible {
  transition: width 0.5s;
}

.nested-buttons::-webkit-scrollbar {
  background-color: #222;
  height: 0px;
}

.nested-buttons::-webkit-scrollbar-thumb {
  background-color: #111;
  border: #eee 2px solid;
  border-radius: 10px;
  height: 6px;
}

.toggle-button-container {
  position: relative;
  width: fit-content;
  display: inline-block;
  white-space: normal;
}

.hidden {
  display: none;
}

.hidden-setting {
  visibility: hidden;
  opacity: 0;
  width: 0px;
  transition: width 0.5s, visibility 0.5s, opacity 0.5s;
}

.hidden-setting.visible {
  visibility: visible;
  opacity: 1;
  width: 55px;
  transition: width 0.5s, visibility 0.5s, opacity 0.5s;
}

#pasteText.hidden-setting.visible {
  width: 50px;
  padding: 5px;
}

#pasteText.hidden-setting {
  width: 0px;
  padding: 0px;
}

.button-divider {
  position: relative;
  height: 50px;
  width: 20px;
  box-sizing: border-box;
  transform: scaleY(150%);
  mask-image: linear-gradient(to top, transparent 5%, #111 50%, transparent 95%);
}

#externalDivider {
  padding-left: 5px;
}

#externalDivider.hidden {
  padding-left: 0px;
}

.hidden-setting .button-divider,
.hidden-setting .button-divider img {
  width: 0px;
}

.hidden-setting.visible .button-divider {
  width: 25px;
}

.hidden-setting.visible .button-divider img {
  width: 25px;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Safari, and Firefox 69+ */
}